* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

/* ---- UTILITY ---- */
.hidden {
    display: none !important;
}
.white {
    background-color: white;
    width: 100%;
    height: 100%;
}

.leftaligntext {
    text-align: left;
}
.centeraligntext {
    text-align: center;
}
.rightaligntext {
    text-align: right; 
}

.textone { /* heading */
    font-size: 66cqh;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    text-align: center;
    color: rgb(255, 255, 255);

    filter: drop-shadow(6px 6px 0px #620000);
}
.texttwo { /* subheading */
    font-size: 28cqh;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    color: rgb(180, 180, 180);
}
.textthree {
    font-size: 32px;
    color: black;
}

/* SURVEY VIEW */

.surveyheader {
    container-type: size;

    width: 100%;
    height: 15%;

    position: fixed;
    top: 5%;
    z-index: -1;
}
.surveyheading {
    height: 66%;
}
.surveysubheading {
    padding-top: 10cqh;
    height: 34%;
}
.surveyheaderbackground {
    background-color: black;

    width: 100%;
    height: 25%;
    z-index: -2;

    position: absolute;
}
.surveyheaderfade {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    
    width: 100%;
    height: 5%;

    position: absolute;
    top: 20%;
}

.surveybuttons {
    background-color: white;

    width: 100%;
    height: 75%;

    position: absolute;
    top: 25%;
}
.surveybuttonscontainer {
    width: 75%;
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2cqw;

    position: absolute;
    top: 5%;
    left: 12.5%;
}
.surveybutton {
    background-color: #eb0000;
    transition: background-color 0.3s ease;

    width: 100%;
    aspect-ratio: 3.5;

    border-radius: 1cqw;

    color: white;

    font-size: 2cqw;
    font-family: Arial, Helvetica, sans-serif;

    border: none;
}
.surveybutton:hover {
    background-color: #be0000;
    transition: background-color 0.3s ease;
}
.surveybutton:active {
    background-color: #be0000;
    transition: background-color 0.1s ease;
}

/* LOADING VIEW */

.loadingheading {
    display: grid;
    place-items: center;

    width: 100%;
    height: 100%;
    
    position: absolute;
}